:root {
  --mainColor: #606856;
  --secondaryColor: #606856;

  --borderColor: #161914;

  --mainText: #b1bda4;
  --secondaryText: #eeeeee;
  --themeDotBorder: #ffffff;
  --gradientOne: white;
  --gradientTwo: #6f7964;
}
